NODE_ENV=development
PORT=3000
DATABASE=mongodb+srv://masud:<PASSWORD>@cluster0-pwikv.mongodb.net/nature-campaign?retryWrites=true
DATABASE_LOCAL=mongodb://localhost:27017/nature-campaign
DATABASE_PASSWORD=

JWT_SECRET=super-secure
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_USERNAME=asdfsdaf3434
EMAIL_PASSWORD=asdfsdf23423
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=25

EMAIL_FROM=MasudRana799dev@gmail.com

SENDGRID_USERNAME=apikey
SENDGRID_PASSWORD=apikey

STRIPE_SECRET_KEY=sk_test_apikey
